build/
*.egg-info
dist/
*.pyx
__pycache__
*.swp

# editors
.vscode
.idea

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/

# coverage files
.coverage

node_attrs/*
graph.json
pr_json/*
pr_status/*
status/*
