build/
*.egg-info
dist/
*.pyx
*.pyc
__pycache__
*.swp

# editors
.vscode
.idea

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/

# coverage files
.coverage

node_attrs/*
graph.json
!tests_integration/resources/empty-graph/graph.json
pr_json/*
pr_status/*
status/*
feedstocks/*
coverage.xml
.coverage.*

cf-graph/
tests/node_attrs/
pkgs
dask-worker-space
cbr
feedstocks

.venv
.ipynb_checkpoints/
Untitled.ipynb
node_attrs/*
node_attrs
version_pr_info
version_pr_info/*
pr_info
pr_info/*
conda_forge_tick/_version.py
pr_json
pr_json/*
.pytest_cache/*
.pytest_cache
lazy_json/*
lazy_json
.unload_to_disk_*
tests/test_pypi_name_mapping/pr_json/
versions/*
.pixi
pixi.lock
pixi.toml
.ruff_cache/
.repodata_cache/
venv
oryx-build-commands.txt
.env
env/
.DS_Store