name: bot-versions

on:
  schedule:
    - cron:  '15,45 * * * *'
  workflow_dispatch: null

concurrency: versions

jobs:
  versions:
    name: versions
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        job_num: [1, 2, 3, 4, 5, 6, 7, 8]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
        with:
          path: cf-scripts

      - uses: conda-incubator/setup-miniconda@v2
        with:
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          miniforge-variant: Mambaforge
          python-version: ${{ vars.PYVER }}
          use-mamba: true
          environment-file: cf-scripts/environment.yml
          activate-environment: cf-scripts

      - name: do local setup and stop me if needed
        run: |
          pushd cf-scripts
          python autotick-bot/stop_me_if_needed.py
          popd

      - name: install bot code
        if: success() && ! env.CI_SKIP
        run: |
          source cf-scripts/autotick-bot/install_bot_code.sh
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: get versions
        if: success() && ! env.CI_SKIP
        run: |
          pushd cf-graph

          conda-forge-tick update-upstream-versions --job=${BOT_JOB} --n-jobs=8

          popd
        env:
          BOT_JOB: ${{ matrix.job_num }}
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: deploy
        if: github.ref == 'refs/heads/master' && ! cancelled() && ! env.CI_SKIP
        run: |
          pushd cf-graph

          export CIRCLE_BUILD_URL="https://github.com/regro/cf-scripts/actions/runs/${RUN_ID}"
          export CIRCLE_BUILD_NUM="actually-actions-${RUN_ID}"
          conda-forge-tick deploy-to-github

          popd
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ github.run_id }}

      - name: bump on fail
        if: github.ref == 'refs/heads/master' && failure() && ! env.CI_SKIP
        run: |
          export ACTION_URL="https://github.com/regro/cf-scripts/actions/runs/${RUN_ID}"
          python cf-scripts/autotick-bot/bump_bot_team.py
        env:
          PASSWORD: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ github.run_id }}
          ACTION_NAME: ${{ github.workflow }}
