name: bot-keepalive

on:
  workflow_dispatch: null
  schedule:
    - cron: '15 * * * *'

concurrency: bot-keepalive

jobs:
  bot-keepalive:
    name: bot-keepalive
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -leo pipefail {0}

    steps:
      - name: prevent multiple jobs running in parallel
        id: turnstyle
        uses: beckermr/turnstyle-python@8f1ceb87dabbbbebe42257b85c368f6110bb9170 # v2
        with:
          abort-after-seconds: 300
          poll-interval-seconds: 30
          github-token: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          workflow-name: bot-bot
        continue-on-error: true

      - name: free disk space for stackvana
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          rm_cmd: "rmz"

      - name: debug outcome
        run: echo "outcome - ""${{ steps.turnstyle.outcome }}"

      - name: set CI_SKIP success
        if: steps.turnstyle.outcome == 'success'
        run: |
          echo "CI_SKIP=" >> $GITHUB_ENV

      - name: set CI_SKIP not success
        if: steps.turnstyle.outcome != 'success'
        run: |
          echo "CI_SKIP=1" >> $GITHUB_ENV

      - name: trigger next job
        uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1.2.4
        if: github.ref == 'refs/heads/main' && ! cancelled() && ! failure() && ! env.CI_SKIP
        with:
          workflow: bot-bot
          ref: ${{ github.event.ref }}
          token: ${{ secrets.AUTOTICK_BOT_TOKEN }}
