name: bot-versions

on:
  schedule:
    - cron: '15,45 * * * *'
  workflow_dispatch: null

concurrency: versions

jobs:
  versions:
    name: versions
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        job_num: [ 1, 2, 3, 4, 5, 6 ]
    defaults:
      run:
        shell: bash -leo pipefail {0}

    steps:
      - name: get latest release
        id: latest_release
        run: |
          tag_name=$(gh api repos/regro/cf-scripts/releases/latest --jq '.tag_name')
          echo "latest release: ${tag_name}"
          echo "tag_name=${tag_name}" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ steps.latest_release.outputs.tag_name }}
          path: cf-scripts

      - uses: mamba-org/setup-micromamba@b09ef9b599704322748535812ca03efb2625677b # v2.0.5
        with:
          environment-file: cf-scripts/conda-lock.yml
          environment-name: cf-scripts
          condarc-file: cf-scripts/autotick-bot/condarc

      - name: do local setup and stop me if needed
        run: |
          cd cf-scripts
          python autotick-bot/stop_me_if_needed.py

      - name: install bot code
        if: success() && ! env.CI_SKIP
        run: |
          source cf-scripts/autotick-bot/install_bot_code.sh --no-clean-disk-space
        env:
          BOT_TOKEN: ${{ secrets.AUTOTICK_BOT_TOKEN }}

      - name: get versions
        if: success() && ! env.CI_SKIP
        run: |
          pushd cf-graph

          export RUN_URL="https://github.com/regro/cf-scripts/actions/runs/${RUN_ID}"
          conda-forge-tick update-upstream-versions --job=${BOT_JOB} --n-jobs=6
        env:
          BOT_JOB: ${{ matrix.job_num }}
          BOT_TOKEN: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ github.run_id }}
          CF_TICK_GRAPH_DATA_BACKENDS: "${{ vars.CF_TICK_GRAPH_DATA_BACKENDS }}"
          MONGODB_CONNECTION_STRING: ${{ secrets.MONGODB_CONNECTION_STRING }}

      - name: deploy
        if: github.ref == 'refs/heads/main' && ! cancelled() && ! env.CI_SKIP
        run: |
          pushd cf-graph

          export RUN_URL="https://github.com/regro/cf-scripts/actions/runs/${RUN_ID}"
          conda-forge-tick deploy-to-github
        env:
          BOT_TOKEN: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ github.run_id }}

      - name: bump on fail
        if: github.ref == 'refs/heads/main' && failure() && ! env.CI_SKIP
        run: |
          export ACTION_URL="https://github.com/regro/cf-scripts/actions/runs/${RUN_ID}"
          python cf-scripts/autotick-bot/bump_bot_team.py
        env:
          BOT_TOKEN: ${{ secrets.AUTOTICK_BOT_TOKEN }}
          RUN_ID: ${{ github.run_id }}
          ACTION_NAME: ${{ github.workflow }}
