name: tests-reusable

on:
  workflow_call:
    inputs:
      lockfile:
        description: "The lockfile to use"
        required: false
        default: "conda-lock.yml"
        type: string
      lockfile-is-artifact:
        description: "Whether the lockfile is an artifact"
        required: false
        default: false
        type: boolean
    secrets:
      CODECOV_TOKEN:
        required: true
      BOT_TOKEN:
        required: true

env:
  PY_COLORS: "1"
  IMAGE_NAME: conda-forge-tick

jobs:
  tests:
    name: tests
    runs-on: "ubuntu-latest"
    permissions:
      actions: write  # for deleting cache entries
      contents: read
    strategy:
      # continue running the tests even if one of the groups fails
      fail-fast: false
      matrix:
        # if change the number of groups here, also change it next to --splits below
        group: [1, 2]
    defaults:
      run:
        shell: bash -leo pipefail {0}
    env:
      NUM_SPLITS: 2

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: "regro/cf-scripts"

      - name: prep the lockfile
        if:  ${{ !inputs.lockfile-is-artifact }}
        run: |
          mkdir input-lockfile
          mv conda-lock.yml input-lockfile/${{ inputs.lockfile }}

      - name: download lockfile if it is an artifact
        if: ${{ inputs.lockfile-is-artifact }}
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: ${{ inputs.lockfile }}
          path: input-lockfile

      - name: move lockfile to repo
        run: |
          mv input-lockfile/${{ inputs.lockfile }} conda-lock.yml
          rm -rf input-lockfile

      - uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          environment-file: conda-lock.yml
          environment-name: cf-scripts
          condarc-file: autotick-bot/condarc

      - name: stop me if needed
        run: |
          python autotick-bot/stop_me_if_needed.py

      - name: configure conda and install code
        if: ${{ ! env.CI_SKIP }}
        run: |
          pip install --no-deps --no-build-isolation -e .

      - name: Set up git
        if: ${{ ! env.CI_SKIP }}
        run: |
          git config --global user.name regro-cf-autotick-bot
          git config --global user.email 36490558+regro-cf-autotick-bot@users.noreply.github.com
          git config --global pull.rebase false

      - name: test versions
        if: ${{ ! env.CI_SKIP }}
        run: |
          cd ..
          python -c "import conda_forge_tick; assert conda_forge_tick.__version__ != '0.0.0'"
          cd -

          pip uninstall conda-forge-tick --yes
          rm -rf dist/*
          python -m build --sdist . --outdir dist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          cd ..
          python -c "import conda_forge_tick; assert conda_forge_tick.__version__ != '0.0.0'"
          cd -
          pip uninstall conda-forge-tick --yes

          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: set up docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        if: ${{ ! env.CI_SKIP }}

      - name: build docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        if: ${{ ! env.CI_SKIP }}
        with:
          context: .
          push: false
          load: true
          tags: ${{ env.IMAGE_NAME }}:test

      - name: restore test durations
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
        if: ${{ ! env.CI_SKIP }}
        with:
          path: .test_durations
          key: test-durations-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            test-durations-${{ github.ref }}-
            test-durations-

      - name: run pytest
        if: ${{ ! env.CI_SKIP }}
        run: |
          export TEST_BOT_TOKEN_VAL=unpassword
          if [[ -f .test_durations ]]; then
            cp .test_durations .test_durations.${{ matrix.group }}
          fi
          pytest \
            -v \
            -n 3 \
            --splits ${NUM_SPLITS} --group ${{ matrix.group }} \
            --store-durations \
            --durations-path=.test_durations.${{ matrix.group }} \
            --splitting-algorithm least_duration \
            --clean-durations \
            --cov=conda_forge_tick \
            --cov=tests \
            --cov-config=.coveragerc \
            --cov-report=term-missing \
            --cov-report=xml \
            --durations=10 \
            --retries=5 \
            --retry-delay=10 \
            --ignore=tests/model \
            -m "not mongodb" \
            tests
        env:
          RUN_URL: ""
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}

      - name: upload test durations
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ ! env.CI_SKIP }}
        with:
          name: test-durations-${{ matrix.group }}
          path: .test_durations.${{ matrix.group }}
          include-hidden-files: true

      - name: upload coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ ! env.CI_SKIP }}
        with:
          name: coverage-${{ matrix.group }}
          path: .coverage
          include-hidden-files: true

  tests-mongodb:
    name: tests-mongodb
    runs-on: "ubuntu-latest"
    permissions:
      actions: write  # for deleting cache entries
      contents: read
    strategy:
      # continue running the tests even if one of the groups fails
      fail-fast: false
      matrix:
        # if change the number of groups here, also change it next to --splits below
        group: [1]
    defaults:
      run:
        shell: bash -leo pipefail {0}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: "regro/cf-scripts"

      - name: prep the lockfile
        if:  ${{ !inputs.lockfile-is-artifact }}
        run: |
          mkdir input-lockfile
          mv conda-lock.yml input-lockfile/${{ inputs.lockfile }}

      - name: download lockfile if it is an artifact
        if: ${{ inputs.lockfile-is-artifact }}
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: ${{ inputs.lockfile }}
          path: input-lockfile

      - name: move lockfile to repo
        run: |
          mv input-lockfile/${{ inputs.lockfile }} conda-lock.yml
          rm -rf input-lockfile

      - uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          environment-file: conda-lock.yml
          environment-name: cf-scripts
          condarc-file: autotick-bot/condarc

      - name: stop me if needed
        run: |
          python autotick-bot/stop_me_if_needed.py

      - name: configure conda and install code
        if: ${{ ! env.CI_SKIP }}
        run: |
          pip install --no-deps --no-build-isolation -e .

      - name: Set up git
        if: ${{ ! env.CI_SKIP }}
        run: |
          git config --global user.name regro-cf-autotick-bot
          git config --global user.email 36490558+regro-cf-autotick-bot@users.noreply.github.com
          git config --global pull.rebase false

      - name: test versions
        if: ${{ ! env.CI_SKIP }}
        run: |
          cd ..
          python -c "import conda_forge_tick; assert conda_forge_tick.__version__ != '0.0.0'"
          cd -

          pip uninstall conda-forge-tick --yes
          rm -rf dist/*
          python -m build --sdist . --outdir dist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          cd ..
          python -c "import conda_forge_tick; assert conda_forge_tick.__version__ != '0.0.0'"
          cd -
          pip uninstall conda-forge-tick --yes

          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: start MongoDB
        uses: supercharge/mongodb-github-action@90004df786821b6308fb02299e5835d0dae05d0d # v1.12.0
        if: ${{ ! env.CI_SKIP }}
        with:
          mongodb-version: "latest"

      - name: test mongodb is OK
        if: ${{ ! env.CI_SKIP }}
        run: |
          python -c "from pymongo import MongoClient; import os; print(MongoClient(os.environ['MONGODB_CONNECTION_STRING']))"
        env:
          MONGODB_CONNECTION_STRING: "mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000"

      - name: restore test durations
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
        if: ${{ ! env.CI_SKIP }}
        with:
          path: .test_durations
          key: test-durations-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            test-durations-${{ github.ref }}-
            test-durations-

      - name: run pytest
        if: ${{ ! env.CI_SKIP }}
        run: |
          export TEST_BOT_TOKEN_VAL=unpassword
          # note: we do not use pytest-xdist (-n auto) here for now because they interfere with hiding the
          # MONGODB_CONNECTION_STRING sensitive environment variable
          if [[ -f .test_durations ]]; then
            cp .test_durations .test_durations.${{ matrix.group }}
          fi
          pytest \
            -v \
            --splits 1 --group ${{ matrix.group }} \
            --store-durations \
            --durations-path=.test_durations.mongodb \
            --splitting-algorithm least_duration \
            --clean-durations \
            --cov=conda_forge_tick \
            --cov=tests \
            --cov-config=.coveragerc \
            --cov-report=term-missing \
            --cov-report=xml \
            --durations=10 \
            --ignore=tests/model \
            -m "mongodb" \
            tests
        env:
          MONGODB_CONNECTION_STRING: "mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000"
          RUN_URL: ""
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}

      - name: upload test durations
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ ! env.CI_SKIP }}
        with:
          name: test-durations-mongodb
          path: .test_durations.mongodb
          include-hidden-files: true

      - name: upload coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ ! env.CI_SKIP }}
        with:
          name: coverage-mongodb
          path: .coverage
          include-hidden-files: true

  test-coverage-and-durations:
    name: test-coverage-and-durations
    needs:
      - tests
      - tests-mongodb
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -leo pipefail {0}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: "regro/cf-scripts"

      - name: prep the lockfile
        if:  ${{ !inputs.lockfile-is-artifact }}
        run: |
          mkdir input-lockfile
          mv conda-lock.yml input-lockfile/${{ inputs.lockfile }}

      - name: download lockfile if it is an artifact
        if: ${{ inputs.lockfile-is-artifact }}
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: ${{ inputs.lockfile }}
          path: input-lockfile

      - name: move lockfile to repo
        run: |
          mv input-lockfile/${{ inputs.lockfile }} conda-lock.yml
          rm -rf input-lockfile

      - uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          environment-file: conda-lock.yml
          environment-name: cf-scripts
          condarc-file: autotick-bot/condarc

      - name: stop me if needed
        run: |
          python autotick-bot/stop_me_if_needed.py

      - name: download coverage artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        if: ${{ ! env.CI_SKIP }}
        with:
          pattern: coverage-*

      - name: combine coverage
        if: ${{ ! env.CI_SKIP }}
        run: |
          coverage combine coverage-*/.coverage*
          coverage xml

      - name: upload codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.1.8
        if: ${{ ! env.CI_SKIP }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: cache test durations
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        if: ${{ ! env.CI_SKIP }}
        with:
          path: .test_durations
          key: test-durations-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            test-durations-${{ github.ref }}-
            test-durations-

      - name: download test duration artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        if: ${{ ! env.CI_SKIP }}
        with:
          pattern: test-durations-*

      - name: combine test durations
        if: ${{ ! env.CI_SKIP }}
        run: |
          # see https://stackoverflow.com/a/71416016/1745538
          jq 'reduce inputs as $i (.; . + $i)' test-durations-*/.test_durations.* > .test_durations

      - name: upload test durations
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ ! env.CI_SKIP }}
        with:
          name: test-durations
          path: .test_durations
          include-hidden-files: true

  # this little bit follows the same pattern from conda-build
  status:
    needs:
      - tests
      - tests-mongodb
      - test-coverage-and-durations
    if: '!cancelled()'

    runs-on: ubuntu-latest
    steps:
      - name: determine success
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
