name: tests

on:
  push: null
  pull_request: null

jobs:
  tests:
    name: tests
    runs-on: "ubuntu-latest"
    steps:
      - name: cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v1
        with:
          python-version: 3.8
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true

      - name: configure conda and install code
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes
          conda config --add channels conda-forge
          conda install --quiet pip

          export GIT_FULL_HASH=`git rev-parse HEAD`
          export CICLE_BUILD_URL="https://www.youtube.com/watch?v=R7qT-C-0ajI"
          conda install --quiet --file requirements/run --file requirements/test
          conda install --quiet --yes pre-commit
          python -m pip install -e .

      - name: test
        shell: bash -l {0}
        run: |
          coverage run run_tests.py -k test_depfinder_audit_feedstock
          coverage report -m
          codecov -X gcov

      - name: build docs
        shell: bash -l {0}
        run: |
          pushd docs
          make html
          popd

      - name: build docs
        uses: JamesIves/github-pages-deploy-action@3.7.1
        if: github.ref == 'refs/heads/master' && success()
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages            # The branch the action should deploy to.
          FOLDER: ./docs/_build/html  # The folder the action should deploy.
          CLEAN: true                 # Automatically remove deleted files from the deploy branch
